*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.55; /* 28/18 */
  font-weight: 400;
  color: #333333;
}

body.__lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #c2bfbf;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}

.header__logo {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: black;
  z-index: 2;
}

.header__menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

/* Add burger menu */
.icon-menu {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 2;
  overflow: hidden;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  display: block;
  width: 100%;
  height: 10%;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  transition: all 0.3s ease 0s;
}

.icon-menu span {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.icon-menu::before {
  content: "";
  top: 0;
}

.icon-menu::after {
  content: "";
  bottom: 0;
}

.icon-menu.__active span {
  right: -100%;
}

.icon-menu.__active::before {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.icon-menu.__active::after {
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}

/* ============================================================================================= */
.section {
  height: 100vh;
}

.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 700;
  font-size: 98px;
}

.section:first-child {
  padding-top: 90px;
}

.section:nth-child(even) {
  background-color: black;
  color: #fff;
}

@media (max-width: 520px) {
  .header__container {
    min-height: 60px;
  }

  .header__logo {
    width: 40px;
    height: 40px;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    background-color: #c2bfbf;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }

  .header__menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 60px;
    background-color: #c2bfbf;
    transition: left 0.3s ease 0s;
  }

  .header__menu.__active,
  .header__menu.__active::before {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }

  .menu__link {
    font-size: 24px;
  }

  .icon-menu {
    display: block;
  }

  .section:first-child {
    padding-top: 60px;
  }
}
